.bienvenu {
  text-align: center;
}

/* d
 
 
 */
html {
  background: linear-gradient(100deg, #f3977b, #ae3fbd, #71cdee, #5bc7ae);
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nv1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(255, 52, 52);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /*la couleur du drop */
  background-color: #4d4d4d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  /*la couleur du texte du drop */
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  /*la couleur du texte du drop hover*/
  background-color: #63e70c;
}

.dropdown:hover .dropdown-content {
  display: block;
}
